h1 {
  vertical-align: top;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}

.app-main {
  padding: 30px;
}

.camera-container {
  position: relative;
  width: 480px;
  height: 650px;
}

.camera-container iframe {
  position: relative;
  transform: translate(-80px, 80px) rotate(90deg);
  transform-origin: center;
}

.camera-figure {
  border: 1px;
  border-style: solid;
  padding: 10px;
  height: fit-content;
}

.camera-figure figcaption {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  vertical-align: top;
}
