h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0em;
}

.app-main {
  padding: 10px;
}

.camera-container {
  position: relative;
  width: 640px;
  height: 480px;
}

.camera-container iframe {
  position: relative;
}

.camera-figure {
  border: 1px;
  border-style: solid;
  padding: 10px;
  width: 660px;
  height: fit-content;
}

.camera-figure figcaption {
  font-size: 1em;
  vertical-align: top;
}

.copyright-footer {
  text-align: center;
  font-size: 0.8em;
  padding: 15px;
}

._2200aldrich-offcanvas {
  font-size: 1em;
}
